<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net471" />
  <package id="LibGit2Sharp" version="0.25.2" targetFramework="net471" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.217" targetFramework="net471" />
  <package id="linq2db" version="2.1.0" targetFramework="net471" />
  <package id="linq2db.SQLite" version="2.1.0" targetFramework="net471" />
  <package id="linq2db.t4models" version="1.10.0" targetFramework="net471" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net471" />
</packages>