<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <connectionStrings>
    <!-- Basically a settings file and list of installed / tracked addons -->
    <add name="WAM_DB" connectionString="Data Source=WAM_DB.sqlite3" providerName="SQLite" />
    <!-- Regularly update list of addons -->
    <add name="AddonLibrary" connectionString="Data Source=AddonLibrary.sqlite3" providerName="SQLite" />
  </connectionStrings>
</configuration>